/* general styling */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
:root{
    --header-bg: #4d6370;
    --header-color: #fff;
    --header-text-size: 1.5em;
    --main-bg: #f1f1f1;
    --main-text-size: 1em;
    --footer-bg: #4d6370;
    --icon-color: #fff;
    --footer-text-size: 0.8em;
}
/* body styling */
body {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

/* header styling */
header {
    background: var(--header-bg);
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icons{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.icon{
    margin-right: 10px;
    color: var(--header-color);
}

.header-text {
    font-size: var(--header-text-size);
    margin-left: 20px;
}

.profile-image {
    width: 5%;
    display: flex;
    justify-content: right;
}

#img-child{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
}

/* main styling */
main {
    background: var(--main-bg);
    color: var(--main-color);
    padding: 20px;
}
/* grid */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* grid-gap: 5px; */
}

.contain{
    grid-column: 1/2;
    border: 2px solid black;
    width: 40%;
}

.child-img{
    width: 20%;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
    
}
.contain-child img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
/* Container sub child  */
.contain-subchild{
    /* grid-column: 2/4; */
    border: 2px solid black;
    width: 70%;
}
.child-head{
    display: flex;
    flex-direction: column;
    font-size: var(--main-text-size);
    margin: 10px;
}
.child-head span{
    font-size: var(--main-text-size);
    margin-bottom: 5px;
}
.child-head input{
    font-size: var(--main-text-size);
    margin-bottom: 5px;
}
.child-head a{
    background-color: #607d8b;
    color: var(--icon-color);
    width: 26%;
    padding: 5px;
}
#img-body{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* footer styling */

.footer {
    background: var(--footer-bg);
    color: var(--footer-color);
    padding: 10px;
    width: 100%;
}
.link{
    width: 100%;
    height: auto;
    margin-right: 10px;
    background: #303f46;
}
